<div class="row">
  <!--/.col-->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong> Districts</strong>
      </div>
      <form class="form-horizontal" name="form" #f="ngForm" (ngSubmit)="f.form.valid && addStreets()" novalidate>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label font-weight-bold">Province Name</label>
            <div class="col-md-7">
              <select class="form-control" id="provinces" name="select-provinces" [(ngModel)]="selectedProvince"
                (ngModelChange)="onSelectedProvince()">
                <option value="" disabled>All Provinces</option>
                <option *ngFor="let item of provinces" [ngValue]="item.id"> {{ item.province_name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label font-weight-bold">District Name</label>
            <div class="col-md-7">
              <select class="form-control" id="districts" name="select-districts" [(ngModel)]="selectedDistrict"
                (ngModelChange)="onSelectedDistrict()">
                <option value="">All Districts</option>
                <option *ngFor="let item of districts" [ngValue]="item.id"> {{ item.district_name }}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label font-weight-bold">Ward Name</label>
            <div class="col-md-7">
              <select class="form-control" id="wards" name="select-wards" [(ngModel)]="selectedWard">
                <option value="">All Wards</option>
                <option *ngFor="let item of wards" [ngValue]="item.id"> {{ item.ward_name }}</option>
              </select>
            </div>
          </div>

          <div *ngFor="let street of streets; let i = index">
            <div class="form-group row required">
              <label class="col-md-3 col-form-label font-weight-bold">District Name
              </label>
              <div class="col-md-7">
                <input type="text" name="name_{{i}}" [(ngModel)]="street.street_name" [ngClass]="{'is-invalid': f.submitted && name.invalid }"
                  #name="ngModel" class="form-control" required placeholder="Name ...">
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required">Name is required</div>
                </div>
              </div>
              <div class="col-md-1 mt-1">
                <div *ngIf="streets.length!=1" class="btn btn-sm btn-danger btn-block" (click)="streets.length>1&&removeItem(i)"><i
                    class="fa fa-minus"></i></div>
              </div>
              <div class="col-md-1 mt-1">
                <div *ngIf="streets.length==(i+1)" class="btn btn-sm btn-success btn-block" (click)="newItem()"> <i
                    class="fa fa-plus"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>