<div class="animated fadeIn">
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Customers
        </div>

        <div class="card-body">
          <form class="row" style="margin-bottom: 20px" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSearch()">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" class="form-control" [(ngModel)]="customer.name" placeholder="Nguyen Van A" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" name="email" class="form-control" [(ngModel)]="customer.email"
                  placeholder="email@gmail.com" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input id="phone" type="text" name="phone" class="form-control" [(ngModel)]="customer.phone"
                  placeholder="0167222345" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="login-type">Login Type</label>
                <select class="form-control" id="login-type" name="login-type" [(ngModel)]="customer.login_type">
                  <option value="">All Type</option>
                  <option value="email">Email</option>
                  <option value="facebook">Facebook</option>
                  <option value="google">Google</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="login-type">Status</label>
                <select class="form-control" id="login-type" name="login-type" [(ngModel)]="customer.is_active">
                  <option value="">All Status</option>
                  <option value="1">Activated</option>
                  <option value="0">Not Activated</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2" style="display: flex; align-items: center; justify-content: center;">
              <button type="submit" class="btn btn-primary" style="margin-top: 12px">Search</button>
            </div>
          </form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Created At</th>
                <th>Login By</th>
                <th>Number Of Reported</th>
                <th>Email Verified</th>
                <th>Actived</th>
                <th>Admin</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!customers || customers.length === 0" class="warning">
                <td colspan="11" align="center">No data</td>
              </tr>
              <tr *ngFor="let cus of customers">
                <td>
                  <a [routerLink]="[cus.id]">
                    {{cus.name}}
                  </a>
                </td>
                <td>{{cus.email}}</td>
                <td>{{cus.phone}}</td>
                <td>{{cus.created_at}}</td>
                <td>{{cus.login_type}}</td>
                <td align="center">{{cus.count_report}}</td>
                <td *ngIf="cus.is_verified === 1" align="center">
                  <i class="fa fa-check" style="color: green"></i>
                </td>
                <td *ngIf="cus.is_verified !== 1" align="center">
                  <i class="fa fa-times" style="color: #C91A1A"></i>
                </td>
                <td *ngIf="cus.is_active === 1" align="center">
                  <i class="fa fa-check" style="color: green"></i>
                </td>
                <td *ngIf="cus.is_active !== 1" align="center">
                  <i class="fa fa-times" style="color: #C91A1A"></i>
                </td>
                <td>{{cus.role}}</td>
                <td *ngIf="cus.is_active === 1">
                  <span class="btn btn-warning btn-sm" (click)="lockCustomer(cus.id)">Lock</span>
                </td>
                <td *ngIf="cus.is_active !== 1">
                  <span class="btn btn-success btn-sm" (click)="activeCustomer(cus.id)">Active</span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="pagination row">
            <div class="col-xs-12 col-12">
              <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-md"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
                [rotate]="false" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>