// Here you can add other styles

.form-group.required .col-form-label:after{
    color: red;
    content: "*";
    position: absolute;
    margin-left: 5px;
 }
.sidebar .nav-link .nav-icon
{
  color: #20a8d8;
}